{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}

{% block content %}
{% for post in posts %}
        <div class="article">
            <h2>{{ post.title }}</h2>
            <p class="infopost">Posted <span class="date">on {{ post.publish }}</span> by <a>{{ post.author }}</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="{{ post.get_absolute_url }}" class="com">Comments <span>{{ post.comments.count }}</span></a></p>
          <div class="clr"></div>
            <div class="img"><img src="{{ post.photo.url}}" width="198" height="208" alt="" class="fl" /></div>
                <div class="post_content">
                    {{ post.body|truncatewords:70 }}
            <p class="spec"><a href="{{ post.get_absolute_url }}" class="rm">Read more</a></p>
          </div>
          <div class="clr"></div>
        </div>
{% endfor %}
{% endblock %}

{% block pagination %}
{% include "pagination.html" with page=page_obj %}
{% endblock %}